<!-- Develop/views/home.handlebars -->
{{#each projects}}
  <div class="project">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
    <!-- Add more fields here as needed -->
  </div>
{{/each}}
