<!-- Develop/views/login.handlebars -->
<form id="login-form">
    <input type="email" name="email" placeholder="Email address" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Log In</button>
</form>



