<div class="project-details">
  <h2>{{project.name}}</h2>
  <p>{{project.description}}</p>
  <p>Needed Funding: ${{project.needed_funding}}</p>
  <p>Date Created: {{project.date_created}}</p>
  <!-- Add more fields as necessary -->
</div>